*{margin: 0;padding: 0}
.container{
    width: 100vw;
}
.desk {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: black url(EMax壁纸.png);
    filter: brightness(0.4) blur(2px);
}
.title{
    height: 100px;
    background-color: #777777;
}
.main{
    padding: 15px;
    width: 100%;
}
.items{
    width: 100%;
    margin: 5px;
    padding: 10px;
}
.item{
    background: url(star.png) no-repeat;
    background-size: contain;
    width: 33.33%;
    height: 30vh;
}