.head {
    background: rgba(0, 79, 140, 0.7);
    height: 80px;
    font: 800 25px/40px "Adobe 黑体 Std R", sans-serif;
    /*vertical-align: middle;*/
    color: #fff;
    padding: 10px 0;
}

.title {
    line-height: 60px;
}

.stitle {
    /*padding: 5px 0;*/
    background: #419bd9;
    border-radius: 10px;
    margin-right: 5px;
}

.navbar-form, .form-group > .form-control {
    width: 100%;
}

.navbar-form > .form-group {
    width: 84%;
}

.navbar-form > button {
    margin-top: 3px;
}

.container:nth-of-type(2) {
    /*font:normal 30px sans-serif;*/
    margin-top: 200px;
}

[id*=panelout] > .panel {
    box-shadow: #dedede 0 3px 10px 2px;
}

[id*=panelout] > .panel > .panel-heading {
    background: #3372a3;
    color: #fff;
}

[id*=itemout] > .panel-body {
    background: #f1f1f1;
    /*border: 1px solid #cff5e3;*/
    /*box-shadow: #dad7d7 0 5px 10px 2px;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0;
    padding-right: 0;
}

[id*=panelin] > .panel > .panel-heading {
    /*background: #7b98b8;*/
    color: #000;
    line-height: 2.5em;
}

[id*=itemin] > .panel-body {
    background: rgba(0, 199, 253, 0.1);
    border: 1px solid #7b98b8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*padding-left: 0;*/
    /*padding-right: 0;*/
}

.name {
    line-height: 50px;
}

.ExampleValue{
    word-break: break-all;
}

/*region 辅助*/
.h1 {
    font-size: 60px;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
}

sup {
    background: #c4cbc9;
    /*color: #fff;*/
    border-radius: 30px;
    font-size: 20px;
    /*line-height: 5px;*/
    padding: 0 10px 5px;
}

.sup-n {
    background: #FFF;
    color: #f00;
    border-radius: 0;
    font-size: 10px;
    /*line-height: 5px;*/
    padding: 0;
}

hr {

    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(0, 21, 63, 0.51) 10%, rgba(0, 21, 63, 0.51) 90%, rgba(200, 200, 200, 0)) 1;
}

.container:nth-of-type(1) .navbar-form {
    vertical-align: top;
}

/*.btn-default, .btn-default:active, .btn-default:hover, .btn-default:visited, .btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:active*/
.btn {
    border: 2px solid #3f6a74;
    font-weight: bold;
    background: #fff;
    margin-top: 1px;
}

.bold {
    font-weight: bold;
}

.bg-gray {
    background: #a9bcc5;
    box-shadow: rgba(205, 205, 209, 0.81) 0 0 5px inset;
    border-radius: 5px;
}

.borderb{
    border-bottom: 1px solid #a9bcc5;;
}
.ita{
    font-style:italic;
    color: #777777;
    /*overflow: auto;*/
    word-break: break-all;
}
/*endregion*/